/train_data/visible
/train_data/infrared
/train_data/visible_focus_near
/train_data/visible_focus_far
/compare/data/cifar-10-batches-py
/compare/data/cifar-10-python.tar.gz
/compare/nohup/nohup_jittor_compare.out
/compare/nohup/nohup_pytorch_compare.out
/test_data/LLVIP
/test_data/LLVIP_original

/nohup/nohup_jittor.out
/nohup/nohup_pytorch.out

/outputs/outputsIVIFbak

/images/MEIF/
/images/NIR-VIS/
/images/Remote/

trmp.py
READMEBAK.md
question.md

